body{
    background-image: url("sea-water-1666310_1920.jpg");
    background-size: cover;
}

.gameboard {
    border-radius: 0.4rem;
    text-align: center;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
}
.game-card {
    width: 18%;
    height: 22vh;
    border-radius: 0.4rem;
    background-color: rgb(56, 55, 55);
    display: inline-block; 
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;     
}
h1 {
    text-align: center;
    color: white;
}