body{
    background-image: url("./images/ocean-background.png");
    background-size: cover;
}

.gameboard {
    border-radius: 0.4rem;
    text-align: center;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    width:95vh;
    margin:20px auto;
    padding-bottom: 1.3vh;
}
.game-card {
    width: 13vh;
    height: 13vh;
    border-radius: 0.4rem;
    background-color: rgb(56, 55, 55);
    display: inline-block; 
    margin-top: 1.3vh;
    margin-left: 0.8vh;
    margin-right: 0.8vh;
    background-size: cover;     
}
h1 {
    text-align: center;
    color: white;
}